
.body{
   margin: 0;

}
.super-container{
  background-color: #0B2434;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  padding: 20px;
}
.main{
     background-color: #F5F5F5;
    height: 400px;
    max-width: auto;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-box{
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
.small-box-fill
{
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  background-color:#b3f0f5;
  

}
.grid-container{
  margin : 100px;
  display: grid;
  grid-template: auto auto / repeat(9, 0.125fr);
  row-gap: 1px;
  justify-content: center;
}
.sub-grid{
  display: grid;
  grid-template-columns: repeat(3,0fr);
}
.sudoku-title{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 10%;
  color: rgb(226, 234, 72);
}
.button-level{
  font-family: 'Press Start 2P', cursive;
  background-color: #2e2424;
  border-radius: 10px;
  width:100px;
  height:40px;
  color: rgb(21, 171, 179);
  cursor: pointer;

}
.buttons-level{
  display: flex;
  justify-content: center;
  gap:20px

}